<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>쇼핑-데모</title>
    <!-- 아이콘 -->
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/elice-rabbit-favicon.png"
    />
    <!-- bulma css 관련 -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"
    />
    <!-- 폰트 어썸: 아이콘 -->
    <script
      defer
      src="https://kit.fontawesome.com/7630448495.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="section">
      <div class="container">
        <p class="subtitle is-5 has-text-centered" style="margin-top: 2rem">
          This website is a toy project and not for practical use. <br />
          In order to process your sign-up through Google Account, we will need
          your email address and name.
        </p>

        <p class="subtitle is-5 has-text-centered" style="margin-top: 2rem">
          본 웹사이트는 토이프로젝트이며, 실제 쇼핑몰 사이트로는 쓰이지
          않습니다. <br />
          구글 계정을 통해 회원가입하시는 경우, 구글 이메일과 이름이 쓰이게
          됩니다.
        </p>
      </div>
    </div>
  </body>
</html>
