.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.login-form-box {
  width: 30rem;
}

.login-form-box .title {
  text-align: center;
}

.login-form-box .button {
  font-weight: bold;
}

.oauth-container {
  display: flex;
  /*justify-content: space-around;*/
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.oauth-kakao {
  padding-top: 0.3rem;
}

.oauth-kakao:hover {
  opacity: 0.8;
}
